<!DOCTYPE html>
<html lang = "ja">
<head>
<meta charset="UTF8"/>
<title>お問い合わせ</title>
<link rel="stylesheet", href = "{{url_for("static", filename = "style.css")}}"/>
</head>
<body>
    {% with messages= get_flashed_messages()%}
    {%if messages %}
    <ul>
    {% for message in messages %}
    <li class = "flash">{{message}}</li>
    {% endfor %}
    </ul>
    {%endif%}
    {% endwith %}
    <h2>お問い合わせフォーム</h2>
    <form method = "POST", action = "{{url_for("contact_complete")}}">
        <table>
            <tr>
                <th>ユーザー名</th>
                <td><input type = "text" name = "user_name"></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><input type = "text" name = "email"></td>
            </tr>
            <tr>
                <th>お問い合わせ内容</th>
                <td><input type = "text" name = "contents"></td>
            </tr>
        </table>
        <input type = "submit" value = "お問い合わせ">
    </form>
</body>
</html>